################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Visit.UI/bin/Debug
/Visit.UI/obj
