################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Visit.UI/bin/Debug
/Visit.UI/obj
/Visit.BLL/bin/Debug
/Visit.BLL/obj
/Visit.DAL/bin/Debug
/Visit.DAL/obj